<div class="widget-wrap">
  <div class="widget-title"><%= __('widget.author') %></div>
  <aside class="profile media widget">
    <figure class="profile-avatar media-left">
      <img src="<%=config.avatar %>" class="avatar" alt="<%=config.author %>" loading="lazy">
    </figure>
    <div class="media-content">
      <div><strong><%=config.author %></strong></div>
      <div>
        <% for (var contact of config.contact.filter(v => v.show)) { %>
          <span class="icon">
            <a href="<%- url_for(contact.url) %>" aria-label="<%=contact.label %>" rel="author" target="_blank">
              <i class="fa fa-<%=contact.icon %>"></i>
            </a>
          </span>
        <% } %>
      </div>
      <br>
      <span><%= config.author_title %></span>
    </div>
  </aside>
</div>
