<% var title = page.title %>
<!DOCTYPE html>
<html lang="<%- config.language %>">
<head>
  <meta charset="utf-8">
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width">
  <link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0" as="font" type="font/woff2" crossorigin>
  <%- open_graph({
    url: url.replace(/\/index.html$/, '/'),
    image: page.ogimage,
    twitter_id: config.twitter,
    google_plus: config.google_plus,
    fb_admins: config.fb_admins,
    fb_app_id: config.fb_app_id
  }) %>
  <link rel="icon" href="/favicon.ico">
  <%- partial('google-analytics', { head: true }) %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <%- css(`css/style.css?${Date.now()}`) %>
  <% if (config.simple_japanese.custom_assets.css) { %>
    <%- css(`${config.simple_japanese.custom_assets.css}?${Date.now()}`) %>
  <% } %>
  <%- partial('gen-structured-data') %>
  <% if (is_post() && config.generator_amp){ %>
    <link rel="amphtml" href="<%= config.url %><%= config.root %><%= page.path.replace(/(\.html|\/)$/, "") %>/amp/">
  <% } %>
  <% if (config.simple_japanese.custom_assets.js) { %>
    <%- js(`${config.simple_japanese.custom_assets.js}?${Date.now()}`) %>
  <% } %>
  <% for (var contact of config.contact) { %>
    <link rel="author" href="<%- url_for(contact.url) %>" />
  <% } %>
</head>
